html, body {
    height: 100%;
    margin: 0;
}

body {
  /* MOD 2026/02/01 START */
  /*display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; */
  background-color: #fafafa;
  /* background-color: black; */
  color: black;
  /* color: aliceblue; */
    display: flex;
    flex-direction: column;
  /* height: 100vh; */
  font-family: "Noto Serif JP", "Yu Mincho", serif;
  /* MOD 2026/02/01 END */
  /* ビューポートの高さに合わせる */
  margin: 0;
  /* ページの余白をなくす */

}

main {
  max-width: 1200px;
  margin: 30px auto 0;
  /* ADD 2026/02/0/1 START */
  flex: 1;  /* メインコンテンツが伸びる */
  padding: 0 20px;
  /* ADD 2026/02/0/1 END */
  /* 上に余白作る＝ヘッダー避け */
  /* text-align: center; */
}

a {
  text-decoration: none;
  color: black;
}

.shurui {
  text-decoration: none;
  /* MOD 2026/02/01 START */
  /* color: aliceblue; */
  color: black;
  /* MOD 2026/02/01 END */
}

a:hover {
  color: darkturquoise;
}

a#amusic:hover {
  color: darkred;
}

a#abookshelf:hover {
  color: rgb(0, 110, 184);
}

img {
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}

/*  罫線 */
.subtitle {
  border-bottom: 1px solid rgb(113, 116, 116);
  padding-bottom: 10px;
}

/* 小説 */
/* DEL 2026/02/01 START */
/* #phead {
  position: fixed;
  top: 0;
  text-align: center;
} */
#arasuji p {
  padding-left: 20px;
  /* 左に余白を追加 */
}

/* DEL 2026/02/01 END */

.meigi {
  font-size: 1rem;
  /* MOD 2026/02/01 START */
  /* color: aliceblue; */
  color: black;
  /* MOD 2026/02/01 END */
  /* お好みで調整 */
  font-weight: normal;
}

/* ADD 2026/02/01 START */
/* ヘッダー全体 */
.site-header {
  position: relative;
  padding: 10px 15px;
}

/* 三ボタン */
.menu-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
}

/* メニュー本体（最初は隠す） */
.menu {
  position: fixed;
  top: 0;
  right: -250px;
  /* 画面外に待機 */
  width: 200px;
  height: 100vh;
  background: #111;
  padding-top: 60px;
  transition: right 0.3s ease;
  z-index: 1000;
}

/* 開いた状態 */
.menu.open {
  right: 0;
}

/* メニューの中身 */
.menu a {
  display: block;
  color: white;
  padding: 15px;
  text-decoration: none;
}

.menu a:hover {
  background: #333;
}

/* フッター */
.site-footer {
  text-align: center;
  padding: 20px;
  margin-top: 50px;
  border-top: 1px solid #ccc;
}

.back-to-top {
  display: inline-block;
  margin-bottom: 10px;
  text-decoration: none;
}
/* 自己紹介 */
/* #modokis {
  position: relative;
  padding: 20px;
  min-height: 300px;
}

#modokis::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../oekaki/botsu_icon.jpg');
  background-size: cover;
  background-position:left; 
  opacity: 0.1;  /* 背景だけ透過 
  z-index: -1;
} */

/* 外部リンク */
.gaibu{
  margin-right: 5px;  /* 右に余白 */
  font-size: 90%; /* 親要素に対する割合 */
}
/* ADD 2026/02/01 END */