body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color: aliceblue;
    height: 100vh;           /* ビューポートの高さに合わせる */
    margin: 0;               /* ページの余白をなくす */

}

a {
    text-decoration: none;
    color: aliceblue;
}

a:hover {
    color: darkturquoise;
}

a#amusic:hover {
    color:darkred;
}
a#abookshelf:hover{
    color:rgb(0, 110, 184);
}

/* 小説 */
#phead{
    position: fixed;
    top: 0;
    text-align: center;

}

.meigi{
    font-size: 1rem;  /* お好みで調整 */
    font-weight: normal;
    margin-bottom: 0.5em;
}